body{
	margin: 0px;
	padding: 0px;
}

.menu{
	font-size:20px;
	width: 100%;
	background-color: #333;
}

.menu ul{
	margin: 0px;
	padding: 0px;
}

.menu li{
	list-style-type: none;
}

.menu ul li{
	float: left;
	position: relative;
}

.menu ul::after{
	content: "";
	display: table;
	clear: both;
}


.menu a{
	display: inline-block;
	text-decoration: none;
}

.menu ul li a {
	padding: 20px 30px;
	color:rgb(130, 230, 270);	
}

.menu  li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.submenu{
	display: none;
	color:rgb(130, 230, 270);
}

.submenu li{
	border-bottom: 1px solid #CCC;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color:rgb(130, 230, 270);
	width: 250px;
}

.menu ul li:hover a{
	padding: 17px 30px;
	
}

.menu input[type=checkbox]{
	display: none;
}
.menu-res{
	display: none;
}

.submenu li:hover a{
	color: #FFF;
	
}

.cv:hover{
	border-top: 3px solid #FFF;
	}
	
.accu:hover{
	border-top: 3px solid #FFF;
	}

.contact:hover{
	border-top: 3px solid #FFF;
